# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
**/Dockerfile.*.swp

# OS-specific
.DS_Store
Thumbs.db

# Build outputs (if you ever have frontend build)
public/*.bundle.js
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
*.swp
