


version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    environment:
    - BACKEND_URL=http://backend:5000
    ports:
      - "3000:80"
    depends_on:
      - backend
