name: Docker Build Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Build backend Docker image
      - name: Build backend image
        run: |
          docker build -t backend-app ./docker-compose-ass/backend

      # 3. Build frontend Docker image
      - name: Build frontend image
        run: |
          docker build -t frontend-app ./docker-compose-ass/frontend
