name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  push-to-ecr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Backend
        run: |
          docker build -t backend-app ./docker-compose-ass/backend
          docker tag backend-app:latest \
            072583797267.dkr.ecr.eu-north-1.amazonaws.com/backend-app:latest
          docker push \
            072583797267.dkr.ecr.eu-north-1.amazonaws.com/backend-app:latest

      - name: Build & Push Frontend
        run: |
          docker build -t frontend-app ./docker-compose-ass/frontend
          docker tag frontend-app:latest \
            072583797267.dkr.ecr.eu-north-1.amazonaws.com/frontend-app:latest
          docker push \
            072583797267.dkr.ecr.eu-north-1.amazonaws.com/frontend-app:latest
